# Análise da Bolsa de valores

In [41]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import mplfinance as mpf
import yfinance as yf
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [42]:
dados = yf.download('PETR4.SA', start='2023-01-01', end='2023-12-31')
dados

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2023-01-02  23.540001  23.809999  22.799999  22.920000  17.709478   78424700
2023-01-03  22.940001  23.100000  22.129999  22.340000  17.261332   96750300
2023-01-04  21.959999  23.590000  21.830000  23.049999  17.809923  129504000
2023-01-05  23.340000  24.040001  23.150000  23.879999  18.451235   73886000
2023-01-06  23.940001  24.320000  23.549999  23.740000  18.343063   51851500
...               ...        ...        ...        ...        ...        ...
2023-12-21  36.669998  36.680000  36.070000  36.389999  36.389999   30511900
2023-12-22  36.500000  36.799999  36.369999  36.740002  36.740002   31234700
2023-12-26  36.860001  37.369999  36.830002  37.330002  37.330002   23466800
2023-12-27  37.320000  37.430000  37.130001  37.360001  37.360001   19588500
2023-12-28  37.230000  37.360001  37.040001  37.240002  37.240002   21421900

[248 rows x 6 columns]