In [58]:
import pandas as pd
import plotly.express as px

In [59]:
#Planilha usada para fazer Análise
dfPrincipal = pd.read_excel("Acoes.xlsx", sheet_name = "Principal")
dfTotalAcoes = pd.read_excel("Acoes.xlsx", sheet_name = "Total_de_acoes")
dfTicker = pd.read_excel("Acoes.xlsx", sheet_name="Ticker")

## Tratamento de Dados

Antes de realizar as análises propriamente ditas, é necessário fazer um pré-tratamento dos dados, onde eles serão organizados e estruturados de maneira mais eficiente, com as informações necessárias para fazer a análise.

In [60]:
#Exclui as colunas que estão além de VAr
dfPrincipal = dfPrincipal[["Ativo", "Data", "Último (R$)", "Var. Dia (%)"]].copy()

#Renomeia colunas
dfPrincipal = dfPrincipal.rename(columns={'Último (R$)':'Valor_final', 'Var. Dia (%)':'Var_dia_pct'}).copy()
dfPrincipal

    Ativo       Data  Valor_final  Var_dia_pct
0   USIM5 2024-01-26         9.50         5.20
1   CMIN3 2024-01-26         6.82         2.40
2   PETR3 2024-01-26        41.96         2.19
3   SUZB3 2024-01-26        52.91         2.04
4   CPFE3 2024-01-26        37.10         2.03
..    ...        ...          ...          ...
76  CRFB3 2024-01-26        10.71        -2.45
77  BHIA3 2024-01-26         8.70        -2.46
78  RENT3 2024-01-26        56.24        -3.63
79  CVCB3 2024-01-26         3.07        -4.36
80  GOLL4 2024-01-26         5.92        -8.07

[81 rows x 4 columns]

In [61]:
dfPrincipal["Var_pct"] = dfPrincipal["Var_dia_pct"]/100
dfPrincipal

    Ativo       Data  Valor_final  Var_dia_pct  Var_pct
0   USIM5 2024-01-26         9.50         5.20     0.05
1   CMIN3 2024-01-26         6.82         2.40     0.02
2   PETR3 2024-01-26        41.96         2.19     0.02
3   SUZB3 2024-01-26        52.91         2.04     0.02
4   CPFE3 2024-01-26        37.10         2.03     0.02
..    ...        ...          ...          ...      ...
76  CRFB3 2024-01-26        10.71        -2.45    -0.02
77  BHIA3 2024-01-26         8.70        -2.46    -0.02
78  RENT3 2024-01-26        56.24        -3.63    -0.04
79  CVCB3 2024-01-26         3.07        -4.36    -0.04
80  GOLL4 2024-01-26         5.92        -8.07    -0.08

[81 rows x 5 columns]

In [62]:
#Transforma o valor em porcentagem para decimal
dfPrincipal["Valor_inicial"] = dfPrincipal["Valor_final"]/(dfPrincipal["Var_pct"]+1)
dfPrincipal

    Ativo       Data  Valor_final  Var_dia_pct  Var_pct  Valor_inicial
0   USIM5 2024-01-26         9.50         5.20     0.05           9.03
1   CMIN3 2024-01-26         6.82         2.40     0.02           6.66
2   PETR3 2024-01-26        41.96         2.19     0.02          41.06
3   SUZB3 2024-01-26        52.91         2.04     0.02          51.85
4   CPFE3 2024-01-26        37.10         2.03     0.02          36.36
..    ...        ...          ...          ...      ...            ...
76  CRFB3 2024-01-26        10.71        -2.45    -0.02          10.98
77  BHIA3 2024-01-26         8.70        -2.46    -0.02           8.92
78  RENT3 2024-01-26        56.24        -3.63    -0.04          58.36
79  CVCB3 2024-01-26         3.07        -4.36    -0.04           3.21
80  GOLL4 2024-01-26         5.92        -8.07    -0.08           6.44

[81 rows x 6 columns]

In [63]:
#Une as planilhas principal e total de ações por meio das colunas Ativo e Código.
dfPrincipal = dfPrincipal.merge(dfTotalAcoes, left_on='Ativo', right_on='Código', how='left')
dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Código,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,USIM5,515117391.00
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,CMIN3,1110559345.00
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,PETR3,2379877655.00
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,SUZB3,683452836.00
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,CPFE3,187732538.00
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,CRFB3,533990587.00
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,BHIA3,94843047.00
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,RENT3,853202347.00
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,CVCB3,525582771.00
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,GOLL4,198184909.00

In [64]:
#Exclui a coluna repetida Código
dfPrincipal = dfPrincipal.drop(columns = ["Código"])
dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtde. Teórica
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391.00
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345.00
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,2379877655.00
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836.00
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538.00
...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587.00
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047.00
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347.00
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771.00
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909.00

In [65]:
dfPrincipal = dfPrincipal.rename(columns = {"Qtde. Teórica": "Qtd_acoes"}).copy()

#Calcula a variação em reais das ações
dfPrincipal["Variacao_reais"] = (dfPrincipal["Valor_final"]-dfPrincipal["Valor_inicial"])*dfPrincipal["Qtd_acoes"]

dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_acoes,Variacao_reais
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391.00,241889725.43
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345.00,177515970.30
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,2379877655.00,2140059393.53
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836.00,722946282.71
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538.00,138573955.06
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587.00,-143635530.57
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047.00,-20810240.84
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347.00,-1807432634.46
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771.00,-73557408.06
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909.00,-102993202.62

In [66]:
pd.options.display.float_format = '{:.2f}'.format

In [67]:
dfPrincipal["Qtd_acoes"] = dfPrincipal["Qtd_acoes"].astype(int)
dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_acoes,Variacao_reais
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06
...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62

In [68]:
#Aplica a função lambda a cada linha da planilha, gerando uma nova coluna resultado
dfPrincipal['Resultado'] = dfPrincipal['Variacao_reais'].apply(lambda x: 'Subiu' if x > 0 else ('Desceu' if x < 0 else 'Estável'))
dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_acoes,Variacao_reais,Resultado
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu
...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu

In [69]:
#Pega agora o nome de cada empresa a partir da planilha dfTicker
dfPrincipal = dfPrincipal.merge(dfTicker, left_on='Ativo', right_on='Ticker', how='left')
dfPrincipal = dfPrincipal.drop(columns=['Ticker'])
dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_acoes,Variacao_reais,Resultado,Nome
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras
3,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano
4,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia
...,...,...,...,...,...,...,...,...,...,...
76,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil
77,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia
78,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza
79,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC
80,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL

In [70]:
dfGPT = pd.read_excel("Acoes.xlsx", sheet_name="Chatgpt")
dfGPT

             Empresa              Setor  Idade
0           Usiminas         Siderurgia     59
1      CSN Mineração          Mineração     78
2          Petrobras     Petróleo e Gás     69
3             Suzano   Papel e Celulose     97
4       CPFL Energia            Energia    109
..               ...                ...    ...
76  Carrefour Brasil             Varejo     46
77       Casas Bahia             Varejo     68
78          Localiza  Aluguel de Carros     47
79               CVC            Turismo     50
80               GOL            Aviação     21

[81 rows x 3 columns]

In [71]:
dfPrincipal = dfPrincipal.merge(dfGPT, left_on = "Nome", right_on = "Empresa", how = "left")
dfPrincipal = dfPrincipal.drop(columns = ["Empresa"]).copy()
dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_acoes,Variacao_reais,Resultado,Nome,Setor,Idade
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,59
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,78
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,69
3,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,71
4,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,97
...,...,...,...,...,...,...,...,...,...,...,...,...
82,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil,Varejo,46
83,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,68
84,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,47
85,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,50
86,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Aviação,21

In [72]:
dfPrincipal['Cat_idade'] = dfPrincipal['Idade'].apply(lambda x: 'Mais de 100' if x > 100 else ('Menos de 50' if x < 50 else 'Entre 50 e 100'))
dfPrincipal

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_acoes,Variacao_reais,Resultado,Nome,Setor,Idade,Cat_idade
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,59,Entre 50 e 100
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,78,Entre 50 e 100
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,69,Entre 50 e 100
3,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,71,Entre 50 e 100
4,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,97,Entre 50 e 100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,CRFB3,2024-01-26,10.71,-2.45,-0.02,10.98,533990587,-143635530.57,Desceu,Carrefour Brasil,Varejo,46,Menos de 50
83,BHIA3,2024-01-26,8.70,-2.46,-0.02,8.92,94843047,-20810240.84,Desceu,Casas Bahia,Varejo,68,Entre 50 e 100
84,RENT3,2024-01-26,56.24,-3.63,-0.04,58.36,853202347,-1807432634.46,Desceu,Localiza,Aluguel de Carros,47,Menos de 50
85,CVCB3,2024-01-26,3.07,-4.36,-0.04,3.21,525582771,-73557408.06,Desceu,CVC,Turismo,50,Entre 50 e 100
86,GOLL4,2024-01-26,5.92,-8.07,-0.08,6.44,198184909,-102993202.62,Desceu,GOL,Aviação,21,Menos de 50

In [73]:
# Calculando o maior valor
maior = dfPrincipal['Variacao_reais'].max()

# Calculando o menor valor
menor = dfPrincipal['Variacao_reais'].min()

# Calculando a média
media = dfPrincipal['Variacao_reais'].mean()

# Calculando a média de quem subiu
media_subiu = dfPrincipal[dfPrincipal['Resultado'] == 'Subiu']['Variacao_reais'].mean()

# Calculando a média de quem desceu
media_desceu = dfPrincipal[dfPrincipal['Resultado'] == 'Desceu']['Variacao_reais'].mean()

# Imprimindo os resultados
print(f"Maior\tR$ {maior:,.2f}")
print(f"Menor\tR$ {menor:,.2f}")
print(f"Média\tR$ {media:,.2f}")
print(f"Média de quem subiu\tR$ {media_subiu:,.2f}")
print(f"Média de quem desceu\tR$ {media_desceu:,.2f}")

Maior	R$ 4,762,926,995.25
Menor	R$ -1,807,432,634.46
Média	R$ 218,008,898.33
Média de quem subiu	R$ 538,720,638.36
Média de quem desceu	R$ -186,265,310.46

In [75]:
dfSubiu = dfPrincipal[dfPrincipal["Resultado"]== "Subiu"]
dfSubiu

,Ativo,Data,Valor_final,Var_dia_pct,Var_pct,Valor_inicial,Qtd_acoes,Variacao_reais,Resultado,Nome,Setor,Idade,Cat_idade
0,USIM5,2024-01-26,9.50,5.20,0.05,9.03,515117391,241889725.43,Subiu,Usiminas,Siderurgia,59,Entre 50 e 100
1,CMIN3,2024-01-26,6.82,2.40,0.02,6.66,1110559345,177515970.30,Subiu,CSN Mineração,Mineração,78,Entre 50 e 100
2,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,69,Entre 50 e 100
3,PETR3,2024-01-26,41.96,2.19,0.02,41.06,-2147483648,2140059393.53,Subiu,Petrobras,Petróleo e Gás,71,Entre 50 e 100
4,SUZB3,2024-01-26,52.91,2.04,0.02,51.85,683452836,722946282.71,Subiu,Suzano,Papel e Celulose,97,Entre 50 e 100
5,CPFE3,2024-01-26,37.10,2.03,0.02,36.36,187732538,138573955.06,Subiu,CPFL Energia,Energia,109,Mais de 100
6,PRIO3,2024-01-26,45.69,1.98,0.02,44.80,800010734,709687498.18,Subiu,PetroRio,Petróleo e Gás,14,Menos de 50
7,PETR4,2024-01-26,39.96,1.73,0.02,39.28,-2147483648,3103136291.22,Subiu,Petrobras,Petróleo e Gás,69,Entre 50 e 100
8,PETR4,2024-01-26,39.96,1.73,0.02,39.28,-2147483648,3103136291.22,Subiu,Petrobras,Petróleo e Gás,71,Entre 50 e 100
9,VALE3,2024-01-26,69.50,1.66,0.02,68.37,-2147483648,4762926995.25,Subiu,Vale,Mineração,80,Entre 50 e 100
10,MULT3,2024-01-26,28.19,1.58,0.02,27.75,268505432,117732680.08,Subiu,Multiplan,Imobiliário,52,Entre 50 e 100
11,ITUB4,2024-01-26,32.81,1.48,0.01,32.33,-2147483648,2297591984.33,Subiu,Itaú Unibanco,Financeiro,98,Entre 50 e 100
12,RDOR3,2024-01-26,27.56,1.43,0.01,27.17,1168230366,453917907.01,Subiu,Rede D'Or,Saúde,45,Menos de 50
13,BRKM5,2024-01-26,18.55,1.42,0.01,18.29,265877867,69054317.64,Subiu,Braskem,Petroquímica,19,Menos de 50
14,AZUL4,2024-01-26,14.27,1.42,0.01,14.07,327593725,65452205.55,Subiu,Azul,Transporte Aéreo,14,Menos de 50
15,RRRP3,2024-01-26,28.75,1.41,0.01,28.35,235665566,94204643.35,Subiu,3R Petroleum,Petróleo e Gás,10,Menos de 50
16,EQTL3,2024-01-26,35.32,1.34,0.01,34.85,1095587251,511671895.45,Subiu,Equatorial Energia,Energia,22,Menos de 50
17,CSNA3,2024-01-26,18.16,1.33,0.01,17.92,600865451,143220991.46,Subiu,Siderúrgica Nacional,Siderurgia,80,Entre 50 e 100
18,YDUQ3,2024-01-26,19.77,1.28,0.01,19.52,289347914,72295838.99,Subiu,YDUQS,Educação,53,Entre 50 e 100
19,UGPA3,2024-01-26,28.31,1.28,0.01,27.95,1086411192,388705223.96,Subiu,Ultrapar,Químico,84,Entre 50 e 100
20,MRVE3,2024-01-26,8.08,1.25,0.01,7.98,376187582,37525872.38,Subiu,MRV,Construção Civil,42,Menos de 50
21,ARZZ3,2024-01-26,57.91,1.15,0.01,57.25,62305891,41021792.09,Subiu,Arezzo,Calçados,49,Menos de 50
22,BBDC4,2024-01-26,15.52,1.04,0.01,15.36,-2147483648,822148336.41,Subiu,Banco Bradesco,Financeiro,78,Entre 50 e 100
23,BBDC4,2024-01-26,15.52,1.04,0.01,15.36,-2147483648,822148336.41,Subiu,Banco Bradesco,Financeiro,78,Entre 50 e 100
24,BEEF3,2024-01-26,7.19,0.98,0.01,7.12,261036182,18214628.10,Subiu,Minerva,Alimentos,98,Entre 50 e 100
25,PCAR3,2024-01-26,4.14,0.97,0.01,4.10,159430826,6340916.22,Subiu,Grupo Pão de Açúcar,Varejo,73,Entre 50 e 100
26,BRFS3,2024-01-26,14.61,0.96,0.01,14.47,1677525446,233045769.57,Subiu,BRF,Alimentos,9,Menos de 50
27,VIVT3,2024-01-26,51.20,0.88,0.01,50.75,423091712,188965307.06,Subiu,Vivo,Telecomunicações,26,Menos de 50
28,RAIL3,2024-01-26,22.64,0.84,0.01,22.45,1218352541,229771333.63,Subiu,Rumo,Logística,16,Menos de 50
29,CIEL3,2024-01-26,4.90,0.82,0.01,4.86,1095462329,43657683.38,Subiu,Cielo,Serviços Financeiros,25,Menos de 50
30,DXCO3,2024-01-26,7.81,0.77,0.01,7.75,302768240,18068446.61,Subiu,Dexco,Imobiliário,12,Menos de 50
31,TIMS3,2024-01-26,17.52,0.74,0.01,17.39,807896814,103972807.37,Subiu,TIM,Telecomunicações,29,Menos de 50
32,BRAP4,2024-01-26,23.22,0.73,0.01,23.05,251003438,42238249.54,Subiu,Bradespar,Conglomerado,21,Menos de 50
33,LWSA3,2024-01-26,5.55,0.72,0.01,5.51,393173139,15598886.65,Subiu,Locaweb,Tecnologia,26,Menos de 50
34,RECV3,2024-01-26,23.83,0.71,0.01,23.66,275005663,46201006.00,Subiu,PetroRecôncavo,Petróleo e Gás,16,Menos de 50
35,ITSA4,2024-01-26,10.01,0.70,0.01,9.94,-2147483648,373853994.88,Subiu,Itaúsa,Conglomerado,56,Entre 50 e 100
36,BBAS3,2024-01-26,56.97,0.68,0.01,56.59,1420949112,546752087.99,Subiu,Banco do Brasil,Financeiro,213,Mais de 100
37,RADL3,2024-01-26,26.16,0.61,0.01,26.00,1275798515,202352473.74,Subiu,RaiaDrogasil,Varejo Farmacêutico,116,Mais de 100
38,GOAU4,2024-01-26,10.08,0.59,0.01,10.02,660411219,39045606.94,Subiu,Metalúrgica Gerdau,Siderurgia,120,Mais de 100
39,CSAN3,2024-01-26,18.57,0.59,0.01,18.46,1168097881,127229653.18,Subiu,Cosan,Energia,85,Entre 50 e 100
40,JBSS3,2024-01-26,24.34,0.57,0.01,24.20,1134986472,156573285.43,Subiu,JBS,Alimentos,68,Entre 50 e 100
41,MGLU3,2024-01-26,2.08,0.48,0.00,2.07,-2147483648,28493619.27,Subiu,Magazine Luiza,Varejo,64,Entre 50 e 100
42,BBDC3,2024-01-26,13.75,0.36,0.00,13.70,1500728902,74019610.05,Subiu,Banco Bradesco,Financeiro,78,Entre 50 e 100
43,BBDC3,2024-01-26,13.75,0.36,0.00,13.70,1500728902,74019610.05,Subiu,Banco Bradesco,Financeiro,78,Entre 50 e 100
44,GGBR4,2024-01-26,21.84,0.27,0.00,21.78,1118525506,65779607.10,Subiu,Gerdau,Siderurgia,120,Mais de 100
45,RAIZ4,2024-01-26,3.74,0.26,0.00,3.73,1193047233,11571106.42,Subiu,Raízen,Energia,10,Menos de 50
46,CPLE6,2024-01-26,10.07,0.19,0.00,10.05,1679335290,32069789.50,Subiu,Copel,Energia,68,Entre 50 e 100
47,VAMO3,2024-01-26,8.18,0.12,0.00,8.17,421383330,4131341.16,Subiu,Grupo Vamos,Logística,14,Menos de 50

In [76]:
dfSetorSubiu = dfSubiu.groupby("Setor")["Variacao_reais"].sum().reset_index(0)
dfSetorSubiu

                   Setor  Variacao_reais
0              Alimentos    407833683.09
1               Calçados     41021792.09
2           Conglomerado    416092244.42
3       Construção Civil     37525872.38
4               Educação     72295838.99
5                Energia    821116399.61
6             Financeiro   4636679965.25
7            Imobiliário    135801126.69
8              Logística    233902674.79
9              Mineração   4940442965.55
10      Papel e Celulose    722946282.71
11          Petroquímica     69054317.64
12        Petróleo e Gás  11336484517.00
13               Químico    388705223.96
14                 Saúde    453917907.01
15  Serviços Financeiros     43657683.38
16            Siderurgia    489935930.93
17            Tecnologia     15598886.65
18      Telecomunicações    292938114.42
19      Transporte Aéreo     65452205.55
20                Varejo     34834535.50
21   Varejo Farmacêutico    202352473.74

In [78]:
dfSaldo = dfPrincipal.groupby("Resultado")["Variacao_reais"].sum().reset_index()
dfSaldo

  Resultado  Variacao_reais
0    Desceu  -6891816486.99
1   Estável            0.00
2     Subiu  25858590641.35

In [79]:
dfIdade = dfPrincipal.groupby("Cat_idade")["Variacao_reais"].sum().reset_index()
dfIdade

        Cat_idade  Variacao_reais
0  Entre 50 e 100  19342340305.29
1     Mais de 100    971377356.50
2     Menos de 50  -1346943507.43

In [81]:
nome_arquivo = 'PlanilhaTratada.xlsx'
writer = pd.ExcelWriter(nome_arquivo, engine='xlsxwriter')

# Salvando cada DataFrame como uma planilha separada no arquivo Excel
dfPrincipal.to_excel(writer, sheet_name='PlanilhaPrincipal', index=False)  
dfSubiu.to_excel(writer, sheet_name='PlanilhaSubiu', index=False)
dfSetorSubiu.to_excel(writer, sheet_name='PlanilhaSetor', index=False)
dfSaldo.to_excel(writer, sheet_name='PlanilhaSalso', index=False)
dfIdade.to_excel(writer, sheet_name='PlanilhaIdade', index=False)
# Adicione mais linhas para salvar mais planilhas, se necessário

# Fechando o escritor do Excel
writer.close()